mboutput/0600_4_0641_1*
mboutput/0593_8_0661_1*
data-kitti/
__pycache__/
*.lprof
*.pyc
models/*.pyc
trained*
output*
*.npy
.ipynb_checkpoints/*
.ipynb_checkpoints
weights/
*.ipynb
data-HRRS/
mboutput/*.npy
mboutput/CrusadeP*
*.zip
run.sh

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directories
build
build-debug
debug
*build*/

# intellij
.idea
cmake-build-debug

# subproject directories
# subprojects/*
# !subprojects/*.wrap

# point clouds
*.ply
pointclouds/

# build files
compile_commands.json

venv/
